# Executables
tests/test

# IPython notebook temp dir
.ipynb_checkpoints

# Backup
*~
*.swp

# Built documentation
doc/output

# External Graph Collections
External/BDM
External/HoG
External/Trick

# Built data
src/Small/output
